/*DEFAULTS*/
@import url('https://fonts.googleapis.com/css?family=Lobster');



body {
  background-color: papayawhip;
  line-height: 1.2;
  font-family: 'Lobster', cursive;

}


img {
  max-width: 300px;
  height: 300px;
  border-radius: 5px;
}

/*HEADER*/

.header-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  font-size: 48px;
  color: gray;
}

header a{
  text-decoration: none;
  color: gray;
}

header h1{
  height: 75px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-shadow: 2px 2px 4px #000000;
}

header p{
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 24px;
  text-shadow: 0px 0px 1px #000000;
}

/*PAGE WRAPPER*/

.page-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

/*MAIN*/

main {
  max-width: 935px;
  padding: 60px 20px 0;
  flex-basis: 100%;
}



/*IMAGE GRID*/

.grid-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-wrapper ul li {
  width: calc(33.33% - 20px);
  margin-bottom: 30px;
}

.grid-wrapper ul li img {
  display: block;
}

/*FOOTER*/

footer {
  background-color: white;
  font-size: 12px;
  margin-top: 40px;
  padding: 40px 20px;
}

footer ul {
  display: flex;
  justify-content: center;

}

footer ul li {
  color: #999;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 10px;
  line-height: 1.5;
}


footer ul li a {
  color: #003569;
}

@media screen
  and (min-device-width: 200px)
  and (max-device-width: 600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .grid-wrapper ul li {
      width: 90%;
      font-size: 60px;
      margin-bottom: 10px;
      text-align: center;
    }
}




/*FLEX BOX DEBUGGING STYLES*/

.grid-wrapper ul li {
  position: relative;
  max-height: 400px;
  max-width: 400px;
  font-size: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-wrapper ul li a {
  text-decoration: none;
  text-align: center;
  color: black;
  text-shadow: 2px 2px 4px #000000;
}

.recipe-link{
  width: 300px;
  height: 300px;
  border-radius: 5px;
  display: table-cell;
}

.recipe-link {
  text-decoration: none;
}
.recipe-link.bottom{
  vertical-align: bottom;
}

.recipe-link .center{
  vertical-align: middle;
}

.recipe-link#cupcakes{
  background-image: url(../style/cupcake.jpg);
  background-size: cover;
  color: white;
}

.recipe-link#birthday{
  background-image: url(../style/birthday.jpg);
    background-size: cover;
    color: black;
}

.recipe-link#boozybakes{
  background-image: url(../style/mojito.jpg);
  background-size: cover;
  color: white;
}

.recipe-link#loafcakes{
  background-image: url(../style/loaf.jpg);
  background-size: cover;
  color: white;
}

.recipe-link#christmascakes{
  background-image: url(../style/christmas.jpg);
    background-size: cover;
    color: black;
}

.recipe-link#desserts{
  background-image: url(../style/dessert.jpg);
  background-size: cover;
  color: white;
}
